a {
  text-decoration: none;

}

nav {
  font-family: monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  border-style: solid;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  background-color: white;
}

li a {
  color: gray;
}

li:hover {
  background: darkorchid;
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

.main {
  display: block;
  background-color: gray;
  height: 100%;
  width: 96%;
  margin: 2%;
}
body {
}

h1 {
  font-size: 250%;
}

a {
  color: blue;
  text-decoration: none;
}

.menu {
  display: flex;
  flex: 100%;
}

.article {
  padding: 1%;
  display: flex;
  background-color: white;
  margin: 1%;
}

.article img {
  width: 100%;
}

.column {
  flex: 50%;
  padding: 1%;
}

.footer {
  display: flex;
  bottom: 0;
border-style: solid;
  clear: both;
  color: black;
  background-color: white;
  text-align: center;
  overflow: visible;
}

.footer p {
  font-size: 200%;
  color: white;
  display: block;
  width: 33.333%;
  background-color: darkorchid;
  border-style: solid;
  height: 100%;
}

input {
  display: block;
  flex: 20%;
  float: left;
}

.input_block {
  display: block;
  background-color: gray;
  padding: 5%;
  margin: 5%;
  width: 100%;
  height: 100%;
}

table, th, td {
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 100%;
}
th,td {
  padding: 2%;
  border-bottom: solid;
  border-color: black;
}

thead {
  border-color: darkorchid;
  background-color: black;
  color: white;
  font-weight: bold;
}

tr:nth-child(even){background-color: gray;}
.submit_block {
  display: block;
  width: 40%;
  float: left;
  padding: 1%;
  margin: 1%;
}
.submit_block2 {
  display: block;
  width: 40%;
  float: right;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
